:root {
  /* color palette */
  --clr-primary-500: hsl(257, 40%, 49%);
  --clr-primary-700: hsl(300, 69%, 71%);
  --clr-shadow-400: hsl(257, 40%, 40%);

  /* Fonts */
  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-600: 600;

  --fc-active: var(--clr-primary-700);
}

/*   Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/  */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* End of CSS Reset */

body {
  background-color: var(--clr-primary-500);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  gap: 3.5rem;
  padding: 2.25rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  color: white;
  position: relative;
}

.huddle-logo {
  height: 2rem;
}

.mockup-pic {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

main {
  text-align: center;
}

main h1 {
  font-family: var(--ff-headings);
  font-size: 1.5rem;
  font-weight: var(--fw-600);
}

main p {
  padding: 1rem 0 1.5rem;
  font-size: 1rem;
}

.button {
  font-size: 0.8125rem;
  color: var(--clr-primary-500);
  border: 0;
  border-radius: 2rem;
  padding: 0.75em 5.5em;
  box-shadow: 2px 2px 2px 2px var(--clr-shadow-400);
}

.button:hover,
.button:focus {
  background-color: var(--clr-primary-700);
  color: white;
}

.flex-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.sm-border {
  height: 1.75rem;
  width: 1.75rem;
  border: 1px solid white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm-icon {
  height: 1rem;
  width: 1rem;
  filter: invert(100%);
}
/* attribution */

.attribution-section {
  position: absolute;
  width: 100%;
  bottom: 0.25rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--clr-primary-700);
}
