:root {
  /* color palette */
  --clr-primary-500: hsl(257, 40%, 49%);
  --clr-primary-700: hsl(300, 69%, 71%);
  --clr-shadow-400: hsl(257, 40%, 40%);

  /* Fonts */
  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-600: 600;

  --fc-active: var(--clr-primary-700);
}

/*   Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/  */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* End of CSS Reset */

body {
  background-color: var(--clr-primary-500);
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.25rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  color: white;
}

.huddle-logo {
  height: 1.85rem;
}

.mockup-pic {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

section /*new*/ {
  text-align: center;
}

section /*new*/ h1 {
  font-family: var(--ff-headings);
  font-size: 1.5rem;
  font-weight: var(--fw-600);
}

section /*new*/ p {
  padding: 1rem 0 1.5rem;
  font-size: 1rem;
}

.button {
  font-size: 0.8125rem;
  color: var(--clr-primary-500);
  border: 0;
  border-radius: 2rem;
  padding: 0.75em 5.5em;
  box-shadow: 2px 2px 2px 2px var(--clr-shadow-400);
}

.button:hover,
.button:focus {
  background-color: var(--clr-primary-700);
  color: white;
  cursor: pointer;
}

.flex-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.sm-border {
  height: 1.75rem;
  width: 1.75rem;
  border: 1px solid white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-icon {
  font-size: 0.9rem;
}

.sm-border:hover,
.sm-border:focus {
  border-color: var(--clr-primary-700);
  cursor: pointer;
}

.sm-border:hover .sm-icon,
.sm-border:focus .sm-icon {
  color: var(--clr-primary-700);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  body {
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 3.5rem 4rem 2rem;
  }

  .huddle-logo {
    height: 3.25rem;
  }

  .mockup-pic {
    margin: auto;
    width: 100%;
    height: auto;
    margin: auto auto;
    max-width: 700px;
  }

  main {
    display: grid;
    gap: 5rem;
    margin: 0 auto;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1440px;
  }

  section {
    /*new*/
    text-align: left;
    margin: auto auto;
  }

  section h1 {
    /*new*/
    font-size: 2.25rem;
  }

  .button {
    font-size: 1.125rem;
    padding: 0.75em 3.5em;
    box-shadow: 3px 3px 3px 3px var(--clr-shadow-400);
  }

  .flex-group {
    justify-content: flex-end;
  }

  .sm-border {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid white;
    border-radius: 2rem;
  }

  .sm-icon {
    font-size: 1.125rem;
    line-height: 1rem;
  }
}

/* attribution */

.attribution-section {
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--clr-primary-700);
}
